/* components/Container.module.css */
.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    text-decoration-color: black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #ddd;
    /* Border default */
}

.box {
    margin-bottom: 20px;
}


.nametag {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    margin-bottom: 20px;
    font-size: 30px;
    color: black;
}